*.pyc
.DS_Store
.idea
.vscode

# env
.env/
.venv/
env/
venv/

# Secrets and API Keys
CompanyConfig/Default/API_KEY
**/API_KEY
.env
*.env

# Local configuration
CompanyConfig/Default/local_*
**/local_*
